In [1]:
'''Import requires libraries'''
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
'''Read the dataset needed using pandas'''
data=pd.read_csv('churn_prediction.csv')

In [3]:
'''To see the dataset use head()'''
data.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,days_since_last_transaction,...,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn
0,1,3135,66,Male,0.0,self_employed,187.0,2,755,224.0,...,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0
1,2,310,35,Male,0.0,self_employed,NaN,2,3214,60.0,...,8704.66,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0
2,4,2356,31,Male,0.0,salaried,146.0,2,41,NaN,...,5815.29,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0
3,5,478,90,NaN,NaN,self_employed,1020.0,2,582,147.0,...,2291.91,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1
4,6,2531,42,Male,2.0,self_employed,1494.0,3,388,58.0,...,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1

In [4]:
'''To get the total null values'''
data.isnull().sum()

customer_id                          0
vintage                              0
age                                  0
gender                             525
dependents                        2463
occupation                          80
city                               803
customer_nw_category                 0
branch_code                          0
days_since_last_transaction       3223
current_balance                      0
previous_month_end_balance           0
average_monthly_balance_prevQ        0
average_monthly_balance_prevQ2       0
current_month_credit                 0
previous_month_credit                0
current_month_debit                  0
previous_month_debit                 0
current_month_balance                0
previous_month_balance               0
churn                                0
dtype: int64

In [5]:
'''Impute missing values'''
data['gender'].value_counts()

Male      16548
Female    11309
Name: gender, dtype: int64

In [6]:
data['gender'].fillna('Male',inplace=True)

In [7]:
data['dependents'].value_counts()

0.0     21435
2.0      2150
1.0      1395
3.0       701
4.0       179
5.0        41
6.0         8
7.0         3
36.0        1
52.0        1
25.0        1
9.0         1
50.0        1
32.0        1
8.0         1
Name: dependents, dtype: int64

In [8]:
data['dependents'].fillna(0.0,inplace=True)

In [9]:
data['occupation'].value_counts()

self_employed    17476
salaried          6704
student           2058
retired           2024
company             40
Name: occupation, dtype: int64

In [10]:
data['occupation'].fillna('self_employed',inplace=True)

In [11]:
data['city'].value_counts()

1020.0    3479
1096.0    2016
409.0     1334
146.0     1291
834.0     1138
          ...
629.0        1
527.0        1
1212.0       1
530.0        1
70.0         1
Name: city, Length: 1604, dtype: int64

In [12]:
data['city'].fillna(method='bfill', axis=0,inplace=True)

In [13]:
data['days_since_last_transaction'].value_counts()

0.0      1672
3.0       831
14.0      654
4.0       632
6.0       596
         ...
170.0       1
218.0       1
334.0       1
288.0       1
321.0       1
Name: days_since_last_transaction, Length: 360, dtype: int64

In [14]:
data['days_since_last_transaction'].fillna(0.0,inplace=True)

In [15]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['gender']=le.fit_transform(data['gender'])

In [16]:
data=pd.get_dummies(data)

In [17]:
'''Split the data between dependent and independent variables'''
X=data.drop(['churn'],axis=1)
Y=data['churn']

In [18]:
'''Train the model'''
from sklearn.model_selection import train_test_split

In [19]:
train_x,test_x,train_y,test_y=train_test_split(X,Y,test_size=0.2,random_state=2)

In [20]:
'''Scale the data'''
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)

In [21]:
'''Test the trained model'''
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=300, random_state=2,max_depth=6)
rf.fit(train_x, train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=6, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=300,
                       n_jobs=None, oob_score=False, random_state=2, verbose=0,
                       warm_start=False)

In [22]:
lr=LogisticRegression(max_iter=1470)
lr.fit(train_x,train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1470,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
lr.score(train_x,train_y)

0.8276150627615063

In [24]:
lr.score(test_x,test_y)

0.825788268451647

In [25]:
from sklearn.metrics import f1_score,auc
from sklearn.metrics import roc_auc_score

In [26]:
pred_train_rf=rf.predict_proba(train_x)
pred_valid_rf=rf.predict_proba(test_x)

In [27]:
roc_auc_score(train_y,pred_train_rf[:,1])

0.8384397257062179

In [28]:
roc_auc_score(test_y,pred_valid_rf[:,1])

0.8264038814788526